
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600');

// Variables
@import "variables";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 40px;
  font-weight: 100;
  color: $text-color;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  background: rgba(0,0,0,0.3);
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
